<footer class="footer">
    <!-- <nav class="footer__social-media-nav">
        <ul class="footer__social-media-menu">
            <li><a href="#"><img src="{{ page.path }}/assets/images/icons/facebook.png" alt="Facebook"></a></li>
            <li><a href="#"><img src="{{ page.path }}/assets/images/icons/twitter.png" alt="Twitter"></a></li>
            <li><a href="#"><img src="{{ page.path }}/assets/images/icons/youtube.png" alt="Youtube"></a></li>
        </ul>
    </nav> -->
    <p class="footer__copyright">DevBees &copy; Wszelkie prawa zastrzeżone</p>
</div>