<header class="header">
    <nav class="header__nav">
        <div class="header__logo">
            <a href="{{ page.path }}/">
                <img src="{{ page.path }}/assets/images/logo.png" alt="be a maze">
            </a>
        </div>
        <ul class="header__menu">
            <li class="header__menu-item"><a href="#o-nas">O nas</a></li>
            <li class="header__menu-item"><a href="#nasze-pomysly">Nasze pomysły</a></li>
            <li class="header__menu-item"><a href="#sektory-dzialania">Sektory działania</a></li>
            <li class="header__menu-item header__menu-item-special"><a href="#dolacz-juz-dzis">Dołącz już dziś!</a></li>
        </ul>
    </nav>

    <section class="header__page-header">
        <h1 class="header__page-header-title">DevBees<span class="blinking-cursor"></span></h1>
    </section>
</header>